{% extends 'base.html' %}

{% block pageheading %}
menu
{% endblock %}

{% block main %}
    <div class="products">
            <div class="product-box">
                <h3 class="product-box-heading">Flat White</h3>
                <p class="product-box-info">Definitely created in New Zealand (not in the West Island) - a classic. </p>
                <img src="static/images/flatwhite.jpg">
                <p><strong>Size:</strong> 180ml</p>
                <p><strong>Price:</strong> $4.00</p>
            </div>

            <div class="product-box">
                <h3 class="product-box-heading">Latte</h3>
                <p class="product-box-info">The New Zealand latte is larger than a flat white and has more foamy milk. </p>
                <img src="static/images/latte.jpg">
                <p><strong>Size:</strong> 240ml</p>
                <p><strong>Price:</strong> $4.00</p>
            </div>

            <div class="product-box">
                <h3 class="product-box-heading">Espresso</h3>
                <p class="product-box-info">Straight from the machine, 60mL including crema. </p>
                <img src="static/images/espresso.jpg">
                <p><strong>Size:</strong> 60ml</p>
                <p><strong>Price:</strong> $3.00</p>
            </div>

            <div class="product-box">
                <h3 class="product-box-heading">Long Black</h3>
                <p class="product-box-info">Hot water + espresso. 120mL. </p>
                <img src="static/images/longblack.jpg">
                <p><strong>Size:</strong> 90ml</p>
                <p><strong>Price:</strong> $3.00</p>
            </div>

            <div class="product-box">
                <h3 class="product-box-heading">Chemex (filter)</h3>
                <p class="product-box-info">The most beautiful pourover method, in our opinion. The thicker chemex removes most of the oils from the coffee, giving a lighter mouthfeel. We brew our pourovers with a 1:16 ratio. </p>
                <img src="static/images/chemex.jpg">
                <p><strong>Size:</strong> 400ml</p>
                <p><strong>Price:</strong> $5.00</p>
            </div>

            <div class="product-box">
                <h3 class="product-box-heading">V60 (filter)</h3>
                <p class="product-box-info">The least forgiving pourover method, but the most delicious when you get it right. We use tabbed filters, deal with it! We brew our pourovers with a 1:16 ratio. </p>
                <img src="static/images/v60.jpg">
                <p><strong>Size:</strong> 600ml</p>
                <p><strong>Price:</strong> $5.00</p>
            </div>

            <div class="product-box">
                <h3 class="product-box-heading">Aeropress</h3>
                <p class="product-box-info">Probably the youngest coffee brewing method, the aeropress combines immersion, filter. Try it to find out why the Aeropress has a cult following, and its own World Championship. We're continually tweaking our process but use about a 1:12 ratio at the moment. </p>
                <img src="static/images/aeropress.jpg">
                <p><strong>Size:</strong> 200ml</p>
                <p><strong>Price:</strong> $5.00</p>
            </div>

            <div class="product-box">
                <h3 class="product-box-heading">Cafetière</h3>
                <p class="product-box-info">In New Zealand this is normally referred to as "plunger coffee" but we associate a plunger with a blocked toilet so we use the European name. We use a relatively long brew process and never actually "plunge". </p>
                <img src="static/images/plunger.jpg">
                <p><strong>Size:</strong> 600ml</p>
                <p><strong>Price:</strong> $8.00</p>
            </div>

            <div class="product-box">
                <h3 class="product-box-heading">Moka</h3>
                <p class="product-box-info">Espresso-style coffee brewed by pressurising water (with steam) to pass it through coffee. We serve ours latte-style, with steamed milk. </p>
                <img src="static/images/moka.jpg">
                <p><strong>Size:</strong> 240ml</p>
                <p><strong>Price:</strong> $4.00</p>
            </div>

            <div class="product-box">
                <h3 class="product-box-heading">Hot chocolate</h3>
                <p class="product-box-info">We use a sugar-free Galaxy hot chocolate, served with marshmallows or chocloate fish (depending on what we have in the pantry). </p>
                <img src="static/images/hotchoc.jpg">
                <p><strong>Size:</strong> 240ml</p>
                <p><strong>Price:</strong> $4.00</p>
            </div>

            <div class="product-box">
                <h3 class="product-box-heading">Cold brew</h3>
                <p class="product-box-info">Coarse-ground coffee, soaked for 24 hours and then double strained. We use a mesh filter and then a chemex filter to create a light mouthfeel. </p>
                <img src="static/images/coldbrew.jpg">
                <p><strong>Size:</strong> 300ml</p>
                <p><strong>Price:</strong> $4.50</p>
            </div>
{% endblock %}